{% extends 'shop_app/base.html' %}
{% block sample %}

<h1 id="well"> About Us</h1>
<div class="shiv container">
<h2>Trying to make diffrence and ease in billing and managing medicines stock for the chemists shops.
<br><br>
Our Website provides this service free of cost , as this WebApp is originally made by university student <br>
and further used as project , so this is just a commmon problem based solution prototype , nothing more ,<br>
But you can take advamtage of all services without any hassle.
<hr>
<hr>
Hope you are enjoying using our services and in futur also we wish we can give you alot of new features ,<br>but for that , it will take some time , but not so long.
<br>
Thanks
Regards
Shivam Bajaj</h2>
</div>

{% endblock %}
