{% extends 'shop_app/base.html' %}
{% block sample %}

<div class="qwe">
  <h3 >Login Here</h3>
</div>
<br><br>
<div class="jumbotron container">
<form  action="{% url 'shop_app:userLogin' %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    
    <label for="username">Username :</label>
    <small id="emailHelp" class="form-text text-muted">We'll never share your details with anyone else.</small>
    <input class="form-control" type="text" name="username" placeholder="Enter your Username" >
    <label for="password">Password :</label>
    <input class="form-control" type="password" name="password" placeholder="Enter your password">
    <br>
    <input class='btn btn-outline-primary' type="submit" name="" value="Submit">
  </div>

</form>
</div>

{% endblock %}
